html
	head
		title= title
	style
		include style.css
	body
		if login
			h1 Logged in as #{login}
			a(href='/logout') Logout
		else
			a(href='/login') Login
		h1= message
		img(src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/99133624_535804050427601_6171806053743722496_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=QnD_J-cdCxcAX_ink68&_nc_ht=scontent-waw1-1.xx&oh=767416ac899a536d4d78731d75138a1e&oe=5EED5882")
		h1="Meme list"
		ul
			each meme in memes
				li
					a(href="meme/" + meme.getId()) #{meme.getName()}
					p Price #{meme.getPrice()}
					img(src=meme.getUrl())