html
  head
    link(rel='stylesheet' type='text/css' media='screen' href='/css/main.css')
  body
    h1="Change password"      
    form(action='/password', method='post')
      input(type='hidden', name='_csrf', value=token)
      table 
        tr 
          td 
            label="New password"
          td 
            input(type='password' name='new_password1' required=true)
        tr 
          td
            label="Confirm"
          td
            input(type='password' name='new_password2' required=true)
        tr 
          td 
            input(type='submit', value="Submit")